<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.altraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master/masterlayout}">
<head>
    <meta charset="UTF-8">
    <title>MizanAS</title>


</head>
<body>
<th:block layout:fragment="content">
    <div>
        <h1><center>ሓደሽቲ ኣባላት መመዝገቢ ቅጥዒ</center> </h1>
    </div>
    <form th:action="@{/members/edit}" th:object="${members}" method="post">
        <input type="hidden" th:value="${members.MemberId}" name="MemberId">

        <div class="form-group">
            <label for="FullName">member fullname</label>
            <input type="text" class="form-control" id="FullName" th:value="${members.FullName}" name="FullName" maxlength=25 required>

            <label for="Age">member Age</label>
            <input type="number" class="form-control" id="Age" th:value="${members.Age}" name="Age" required>
        </div>

        <div class="form-group">
            <label for="RegistrationDate">Registration Date</label>
            <input type="text" class="form-control" id="RegistrationDate" th:value="${members.RegistrationDate}" name="RegistrationDate" maxlength=25 required>
        </div>

        <div class="form-group">
            <label for="SavingAmount">SavingAmount</label>
            <input type="number" step=0.01 class="form-control" id="SavingAmount" th:value="${members.SavingAmount}" name="SavingAmount" min=50 required>
        </div>

        <div class="form-group">
            <label for="Telephone">member Telephone</label>
            <input type="text" class="form-control" id="Telephone" th:value="${members.Telephone}" name="Telephone" maxlength=25 required>
        </div>

        <div>
            <a href="#" class="btn btn-outline-warning">Cancel</a>
            <button class="btn btn-outline-success" type="submit">update</button>

        </div>

    </form>



</th:block>

<th:block layout:fragment="footer"></th:block>

</body>
</html>