
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/master.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.13.5/css/dataTables.bootstrap.min.css}" type="text/css">

    <title>MizanAS</title>
</head>
<body>
<!--navbar-->
<div>
    <h1>

    </h1>
</div>
<h1><a href="#" class="navbar-brand"> ሚዛን ዕቋርን ልቋሕን ሓላ/ዝተ/ሕ/ስ/ማሕበር </a></h1>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a th:href="@{/members/new}"  class="nav-link" th:method="GET">ሓደሽቲ አባለት መመዝገቢ </a>
        </li>
        <li class="nav-item active">
            <a th:href="@{/members/list}"  class="nav-link" th:method="GET">ዝርዝር ዝተመዝገቡ ኣባለት</a>
        </li>

        <li class="nav-item active">
            <a th:href="@{/receipts/new}"  class="nav-link" th:method="GET">ደረሰኝ መመዝገቢ </a>
        </li>
        <li class="nav-item active">
            <a th:href="@{/receipts/list}"  class="nav-link" th:method="GET">ዝርዝር ዝተመዝገበ ደረሰኝ</a>
        </li>
    </ul>
</nav>
<div>


</div>
<div class="container">
    <th:block layout:fragment="content"></th:block>
</div>

<th:block layout:fragment="footer"></th:block>

<footer class="footer">
    <div class="container">
			<span class="text-muted">
				Mizan Accounting System | dec 2023</span><span
            style="float: right;" class="text-muted">devoloped by yordanos tesfay MIS Dipartment </span>
    </div>
</footer>

<!--scripts-->
<script th:src="@{webjars/jquery/3.7.1/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{webjars/datatables/1.13.5/js/dataTables.bootstrap.min.js}" type="text/javascript"></script>

</body>
</html>