<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.altraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master/masterlayout}">
<head>
    <meta charset="UTF-8">
    <title>MizanAS</title>
    <style>
        .container {
            text-align: center;
            padding: 20px;
        }
        .logo {
            width: 150px;
            height: 150px;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <img src="src/main/resources/templates/logo.jpg" alt="Logo" class="logo">
        <h1>ኣካውንቲንግ ሲስተም </h1>
        <p>ሚዛን ዕቋርን ልቓሕን ሓላ ዝተ/ሕ/ስ/ማሕበር</p>
    </div>
</th:block>

<th:block layout:fragment="footer"></th:block>


</body>
</html>