<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.altraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master/masterlayout}">
<head>
    <meta charset="UTF-8">
    <title>MizanAS</title>
    <style>
        .container {
            text-align: center;
            padding: 20px;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">


    <div class="container">

        <img src="../../images/logo.jpg" style="height: 100px; width:100px" />
        <h1>ኣካውንቲንግ ሲስተም </h1>
        <p>ሚዛን ዕቋርን ልቓሕን ሓላ ዝተ/ሕ/ስ/ማሕበር</p>
</th:block>

<th:block layout:fragment="footer"></th:block>


</body>
</html>