<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.altraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master/masterlayout}">
<head>
    <meta charset="UTF-8">
    <title>MizanAS</title>
</head>
<body>
<th:block layout:fragment="content">
    <div>
        <h1>ዝርዝር ዝተመዝገበ ደረሰኝ</h1>
    </div>
    <table class="table table-hover" id="receipt-table">
        <thead class="table-dark">
        <tr>
            <th scope="col">ደረሰኝ ቁፅሪ</th>
            <th scope="col">መጠን ቅርሺ</th>
            <th scope="col">መብርሂ </th>
            <th scope="col">ቁፅሪ ኣባልነት </th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="receipts:${receipt}">
            <th th:text="${receipts.ReceiptId}"></th>
            <td th:text="${receipts.Amount}"></td>
            <td th:text="${receipts.Remark}"></td>
            <td th:text="${receipts.members.FullName}"></td>
            <td><a th:href="@{/receipts/delete/__${receipts.ReceiptId}__}" class="btn btn-outline-danger" onclick=" return confirm('Are You sure you want to delete?')">Delete</a>
                <a th:href="@{/receipts/edit/__${receipts.ReceiptId}__}" class="btn btn-outline-warning">Update</a></td>
        </tr>
        </tbody>
    </table>



</th:block>

<th:block layout:fragment="footer"></th:block>

</body>
</html>